body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.homepage {
  display: flex;
  height: 100vh;
  /* width: 1025px; */
}

.home--container {
  margin: auto;
}

.title {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

button {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
}